.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
    
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

body {
    font-family: Helvetica;
}

#pics img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

#header2, #gibmonies, #goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    font-size: 24px;
}

#merch {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

#merch img {
    width: 100px;
    height: 100px;
}

#gibmonies button {
    width: 300px;   
    height: 50px;
    font-size: 20px;
    background: blue;
    color: white;
    border-radius: 5px;
    border: solid white 3px;
}

#gibmonies button:hover {
    background: yellow;
    color: black;
}

#review {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

#review img {
    width: 100px;
    height: 100px;
}

.heading {
    text-align: center;
}

#header2 {
    background: url("https://www.desktopbackground.org/download/2560x1440/2010/06/15/33674_union-jack-desktop-wallpaper-union-jack-backgrounds_4096x2304_h.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#goal {
    background: url("https://upload.wikimedia.org/wikipedia/en/thumb/d/d2/Commonwealth_Flag_-_2013.svg/1200px-Commonwealth_Flag_-_2013.svg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10%;
}

body {
    color: gold;
}

#mission {
    color: white;
    text-align: center;
}

#header2 img {
    width: 20%;
}

body {
    background: #cf142b;
}

.heading {
    border-style: solid;
    border-color: gold;
    padding: 10px;
    margin: 10px;
    
}
  